body {
background: #efe5d0;
margin: 20px;
}
.clr{
clear:both;
}

.header{
text-align: center;
color:darkslategrey;
font: 200% Candara;
height: 80px;
}

#search{
position: absolute;
text-align: right;
right: 2%;
top: 3%;
border: 2px;
font-size: 14px;
color:black;
}
#search input{
width:180px; background:#e5eaf1; border:1px solid #5e8694; font:11px Tahoma; color:#000; padding:2px 5px;
}

#search a{
color:#185e7f; text-decoration:underline;
}
#search a:hover{
color:#185e7f; text-decoration:none;
}

.content-main{
width:1300px; 
margin:0 auto;
}
.nav{
width:240px;
border-right: 1px solid grey;
font-weight: normal;
padding: 20px 5px;
vertical-align: top;
}
.nav h2{
font-size:20px; font-weight:normal; color:#525960; margin:0 0 10px 0; text-decoration: underline; padding-left: 25px;
}
#list_genres a, #list_authors a{
font: 11px Tahoma; color:#7e8a8d; background:url(../img/bgKatalog.gif) left center no-repeat; padding:0 0 0 12px; margin:0px 0 0px 20px; line-height:1.7;
}		
#list_genres a:hover, #list_authors a:hover{
font: 11px Tahoma; color:#7e8a8d; background:url(../img/bgKatalog.gif) left center no-repeat; padding:0 0 0 12px; margin:0px 0 0px 20px; line-height:1.7; text-decoration:none;
}
#list_genres{
padding-bottom: 25px;
}

.content{
font-family:"Trebuchet MS"; 
font-size:12px;
padding: 20px 5px;
}
.content h2{
font-size:20px; font-weight:normal; color:#525960; margin:0 0 10px 0; text-decoration: underline; padding-left: 25px;
}
.content a{
color:#185e7f;
}	
.content a:hover{
color:#057e99;
}
.content ul{
margin:0 0 0 20px; list-style:none;
}	
.content ul li{
line-height:1.8;
}
.content p{
 padding-left: 30px;
 color: darkslategrey;
 font-style: italic;
 font-size: 15px;
}
.content p span{
font: 130% Candara;
}

.order_book{
border: 1px solid activeborder;
margin: 20px;
width: 340px;
padding: 10px;
background: #ccc;
display: inline-block;
}
p#subres{
text-align: center;
}
form label {
display: inline-block;
vertical-align: middle;
width: 105px;
font-weight: bold;
}
#h{
text-align: center;
font-size: 150%;
margin-top: auto;
margin-bottom: auto;
}
.img_book{
float:left;
margin: 7px 7px 7px 0;
}
p#message {
color: saddlebrown;
font-family: monospace;
}

/* Постраничная навигация */
.pager{
list-style:none; margin: 30px auto 30px auto !important; overflow: hidden; width: 565px;
}	
.pager li{
float:left; margin:0 4px; padding: 30px 0;
}
.pager li a{
display:block; text-align:center; background:url(../img/bgPage.gif) no-repeat center center; width:33px; font:bold 14px Tahoma; color:#fff; padding:4px 0;
}
.pager li a:hover{
color:#fff; text-decoration:none;
}
.pager li span{
display:block; text-align:center; background:url(../img/bgPage.gif) no-repeat center center; width:33px; font: 13px Tahoma; color:#fff; padding:4px 0;
}
.pager li.first a, .pager li.last a{
background: url(../img/bgPage_last.gif) no-repeat center center; width:90px; padding: 4px 0;
}
/* Постраничная навигация */

#all_books{
float:left; width:20%; padding:20px 0 0 0;
}
.books{
text-align:center; font:11px Arial; padding: 0 20px;
}
.books img{
margin:0 auto 10px auto; display:block;
}	
.books a{
color:#185e7f;
}	
.books a:hover{
text-decoration:none;
}

.kat_map{
font:11px Arial; color:#7e8a8d; margin:0 0 20px 0; padding: 10px 30px;
}	
.kat_map a{
color:#185e7f;
}
.kat_map a:hover{
text-decoration:none;
}