body {
background: #efe5d0;
margin: 20px;
}
.header{
text-align: center;
color:darkslategrey;
font-size: 150%;
height: 80px;
}

.edit_book table {
margin-left:     10px;
margin-right:    10px;
border-collapse: collapse;
}
.edit_book td,th{
border: thin dotted black;
padding: 5px;
}
.edit_book th {
text-align: center;  
}
.edit_book table tr:nth-child(even) {
background-color: #cacaca;
}

.add_new_book{
border: 1px solid activeborder;
margin: 20px;
width: 340px;
padding: 10px;
background: #ccc;
margin-left: 450px;
margin-right: 450px;
}
p#subres{
text-align: center;
}
form label {
display: inline-block;
vertical-align: middle;
width: 105px;
font-weight: bold;
}
#h{
text-align: center;
font-size: 150%;
margin-top: auto;
margin-bottom: auto;
}

.content{
font-family:"Trebuchet MS"; 
font-size:12px;
padding: 20px 5px;
}
.content h2{
font-size:20px; font-weight:normal; color:#525960; margin:0 0 10px 0; text-decoration: underline; padding-left: 25px;
}
.content a{
color:#185e7f; text-decoration:underline;
}	
.content a:hover{
color:#057e99; text-decoration:none;
}
.content p{
 padding-left: 30px;
 color: darkslategrey;
 font-style: italic;
 font-size: 15px;
}
p#mes{
color: saddlebrown; font: 130% Candara; font-family: monospace;
}